---
title: Set Up Your PWS Account and Download the cf CLI
---

<strong><%= modified_date %></strong>

You can deploy, update, and scale your applications on Pivotal Web Services
(PWS), which is powered by the Cloud Foundry Platform as a Service (PaaS).

## <a id='signup'></a>Set Up Your PWS Account ##

This step establishes your PWS account and access to the PWS Apps Manager for your account.

Sign up for a Pivotal Web Services account: https://console.run.pivotal.io

The Apps Manager displays after you create an [organization](../concepts/roles.html#organizations) (org). By default, PWS
configures each new org with a [space](../concepts/roles.html#spaces) named `development`.

<%= image_tag("images/dev-space-tools.png") %>

## <a id='install-login'></a>Install the cf CLI ##

The cf Command Line Interface (cf CLI) is your primary tool for deploying and managing your applications.

1. Click [Tools](https://console.run.pivotal.io/tools) on the left navigation menu of the Apps Manager to access the Tools page.

1. Install the appropriate cf CLI version for your OS.
1. Run `cf help` to confirm that the tool is installed correctly.
The example shows the beginning lines of output for this command.

    <pre class=”terminal”>
    $ cf help
    NAME:
       cf - A command line tool to interact with Cloud Foundry

    USAGE:
       [environment variables] cf [global options] command [arguments...] [command options]
    ...
    </pre>


## <a id='deploy-app'></a>Deploy an Application to PWS ##

You're ready to deploy your app or a sample app to PWS!

For framework-specific guidelines, see the **Deploy Your App: Guides by Framework** section of the help. For general guidelines, see [Deploy an Application](../devguide/deploy-apps/deploy-app.html).
