---
title: Getting Started with Pivotal Web Services
---

_This page assumes that you are using cf v6._

You can easily deploy, update, and scale your applications using the Cloud
Foundry Platform as a Service (PaaS).
The Cloud Foundry that powers Pivotal Web Services is at [run.pivotal.io]
(https://run.pivotal.io).

To get started:

1. [Sign up for Pivotal Web Services and log in](#signup)
1. [Install the `cf` Command Line Interface and log in](#install-cf)
1. [Prepare your application](#prepare-app)
1. [Push your application to the cloud](#push-app)

## <a id='signup'></a>Sign Up for Pivotal Web Services and Log In ##

[Sign up](https://console.run.pivotal.io) for a Pivotal Web Services account.

[Log in](https://login.run.pivotal.io/login).

**Note**: If you had an account on `cloudfoundry.com`, you can just log into
Pivotal Web Services using your `cloudfoundry.com` account credentials.

## <a id='install-login'></a>Install the cf CLI and Log In ##

`cf` is your primary tool for deploying, starting, stopping, configuring, and
checking the health of your applications.

### <a id='install-cf'></a>Download and Install cf ###

Download `cf` from the [tools page](https://console.run.pivotal.io/tools) and
install in the normal way according to your operating system.

### <a id='target'></a>Target the API endpoint and log in ###

Run `cf api api.run.pivotal.io` to target the `run.pivotal.io` API endpoint.

Run `cf login` to log in.

`cf` prompts you for your username, password, organization, and space.
Spaces are containers for applications and all their associated processes.
You can deploy your application to any of the three default spaces:
development, production, or staging.

## <a id='prepare-app'></a>Prepare Your Application ##

To get your app ready for Cloud Foundry, follow the instructions in the
[Prepare to Deploy an Application]
(http://docs.run.pivotal.io/devguide/deploy-apps/prepare-to-deploy.html) topic.

## <a id='push-app'></a>Push Your Application to the Cloud ##

Run `cf push <app_name>` to push your application to the cloud.

This creates a URL that is the route to your application.
The URL is in the form **HOST.DOMAIN**.
By default:

* **HOST** is the `<app_name>` used with `cf push`
* **DOMAIN** is the default shared domain of your Cloud Foundry instance

Example: `cf push my-app` creates the URL `my-app.<%=vars.app_domain%>`.

### <a id='override'></a>Overriding cf defaults ###

By using command line options, you can push your app with values other than the
ones `cf push` supplies by default.

For example, `cf push my-app -n something-else` creates the URL
`something-else.<%=vars.app_domain%>`.
This enables you to create separate deployments of the same app while
satisfying Cloud Foundry's requirement that each application have a unique URL.

Other default values you can override include the number of application
instances and amount of memory each instance can use.

See the
[push](http://docs.run.pivotal.io/devguide/installcf/whats-new-v6.html#push)
section of [Getting Started with cf v6]
(http://docs.run.pivotal.io/devguide/installcf/whats-new-v6.html) for more
information.

You can also specify deployment options in a manifest.
See [Deploying with Application Manifests]
(http://docs.run.pivotal.io/devguide/deploy-apps/manifest.html).

## <a id='health'></a>Check the Status of your Application ##

Run `cf app <app_name>` to check the health and status of your application.

Example:

<pre class="terminal">
$ cf app my-app
Showing health and status for app my-app in org my-org / space development as user@example.com...
OK

requested state: started
instances: 1/1
usage: 1G x 1 instances
urls: my-app.cfapps.io

     state     since                    cpu    memory        disk
#0   running   2014-01-24 05:07:18 PM   0.0%   18.5M of 1G   52.5M of 1G
</pre>

If your application fails to start on Cloud Foundry, verify that the
application starts in your local environment.
See [Troubleshooting Application Deployment and Health]
(http://docs.run.pivotal.io/devguide/deploy-apps/troubleshoot-app-health.html)
to learn more about troubleshooting.

## <a id='dev-guide'></a> Learn More ##

For a fuller picture of how to develop, deploy, and manage applications with
Cloud Foundry, refer to the [Developer Guide](http://docs.run.pivotal.io/devguide/).
